@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html {
  font-size: 62.5%; /* 1rem = 10px */
}

a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}


body {
  color: #5f5f5f;
  font-family: 'Roboto', sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.002rem;
}



/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

.container {
  max-width: 80rem;
}

.container-page {
  margin-top: 10rem;
}

.container-nav {
  max-width: 100rem;
  margin-top: 1rem;
}

/*------------------------------------*\
  #HEADING
\*------------------------------------*/

h1 {
  color: #2c2f33;
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: .005px;
  line-height: 1;
  margin-bottom: 6rem;
}

h2 {
  color: #1ea69a;
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: .005px;
  margin-bottom: 3rem;
}





/*------------------------------------*\
  #BLOCKQUOTE
\*------------------------------------*/


.blockquote p {
  color: #5f5f5f;
  font-size: 2.1rem;
  padding: 5.5rem 3.5rem 2rem 4rem;
}

.blockquote-footer {
  color: #5f5f5f;
  font-size: 2.1rem;
  padding: 0 2rem 5.5rem 4rem;
}


/*------------------------------------*\
  #PAGE-BACKGROUND
\*------------------------------------*/

.container-background {
  margin: 5rem 0 2rem 0;
  background-color: rgba(30,166,154, .1);
}

.container-background-text {
  max-width: 80rem;
  padding: 13.5rem 0 13.5rem 0;
}

.container-background-text h2 {
  color: #1ea69a;
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: .005px;
  margin-bottom: 3rem;
}

.container-background-text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-background-text li {
  color: #5f5f5f;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

.container-background-text .fa-check-circle {
  margin: 0 .7rem 0 0;
  color: #1ea69a;
}




/*------------------------------------*\
  #TITLES
\*------------------------------------*/

.container-titles {
  padding-top: .25rem;
  font-size: 2.1rem;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  margin: 10rem 0 20rem 0;
}

.test {
  background-color: #f8f3f0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.test-h {
  color: #333333;
  font-size: 1.6rem;
}

.test-li {
  color: #2c2f33;
  font-size: 1.4rem;
  padding-bottom: 5rem;
  border-bottom: .1rem solid rgba(190,190,190, .2);
}

.test-p {
  color: #bebebe;;
  font-size: .9rem;
  padding-top: .5rem;
}




/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none;
  color: #333333;
  font-size: 3.2rem;
  outline: none;
  text-align: right;
}


.navbar-side {
  height: 100%;
  max-width: 38rem;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  background-color: #333333;
  /* overflow-y: scroll; */
  z-index: 1000;
}

  @media (min-width: 320px) {
    .navbar-side {
      width: 80%;
    }
  }

.navbar-side-item {
  margin-bottom: .2rem;
  height: 3rem;
  font-weight: 300;
}

  .navbar-side-item {
    padding: 1.5rem 0 4rem 0;
  }

  @media (min-width: 320px) and (max-width: 484px) {

    .navbar-side {
      width: 85%;
    }

    .navbar-side-item {
      padding: 1.5rem 0 4rem 0;
    }


    .navbar-side-item a {
      font-size: 1.4rem;
    }

  }


  .navbar-side-item:hover {
    background-color: #333333;
  }

.navbar-side-item a {
  display: inline-block;
}


.side-link {
  padding-left: 1.7rem;
  padding-right: 1.2rem;
  font-size: 1.6rem;
  color: #F6F7FC;
}

.side-link:active,
.side-link:hover {
  text-decoration: none;
  color: #F6F7FC;
}

.navbar-side {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #333333;
  opacity: .6;
  z-index: 990;
}


/* Close button */

.close, .close:active, .close:focus, .close:hover {
  color: #F6F7FC;
  outline: none;
}

.close {
  font-size: 3rem;
  font-weight: 300;
  margin-right: 3rem;
}
